.showing{
    display: none;
}
.backgroundColorForFirst{
    background-color: rgba($color: #54dbf09f, $alpha: 1.0)
}
.backgroundColorForSecond{
    background-color: rgba($color: #da5f929d, $alpha: 1.0)
}
.numberPx{
    font-size: 40px;
}
.buttonColor{
    background-color: #54f0619f;
}

.winner{
    display: none;
}