<div class=" container align-items-center border border-warning shadow-lg p-3 rounded-top w-50 d-flex"
  *ngIf="gettingOption">
  <ul class=" row w-100 m-1 p-1">
    <li class=" w-100 d-flex justify-content-between m-1 border border-warning rounded p-3"
        [ngClass]="{'isDone': item.isDone}"
      *ngFor="let item of list; let a = index ">
      {{item.Option}}
      <div>
        <button (click)="DoneOption(a)" class="btn btn-primary float-right">Done</button>
        <button (click)="DeleteOption(a)" class="btn btn-danger float-right">Delete</button>
      </div>
    </li>
  </ul>
</div>
