
<div class="row ">
    <ng-container *ngFor="let item of items">
        <div class="col-3">
            <div class="card " style="width: 18rem; " >
                <img [src]="item.Image" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{item.names}}</h5>
                  <p class="card-text">{{item.price}}</p>
                  <span [ngIf]="item.id">
                    <button [routerLink]="['/update/:id']" class="btn btn-primary">Details</button>
                  </span>
                  
                </div>
              </div>
        </div>
    </ng-container>
    
    
</div>
