<div>
    <div class="input-group mb-3">
      <div class="row">
        <p>click here for adding adding another option</p>
      </div>
      <div class="input-group-append">
          <button (click)="navigateToForm()" class="btn btn-outline-secondary" type="button">Button</button>
      </div>
    </div>

    <div>
        <table class="table" *ngFor="let item of usersData.data">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">username</th>
                <th scope="col">password</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">{{item.id}}</th>
                <td>{{item.username}}</td>
                <td>{{item.password}}</td>
              </tr>
            </tbody>
        </table>
    </div>
</div>